* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}

.section-index {
    width: 100%;
    min-height: 100vh;
    background-color: #8FA4BB;
}

.parent-items {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 30px 200px;
}

.container-elements {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.items {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 20px;
    background-color: rgb(240, 240, 240);
    margin: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.items:hover {
    transform: scale(1.02);
}

h2, p {
    color: black;
    text-decoration: none;
}

p {
    font-size: 1.2em;
}

/*button {*/
/*    color: white;*/
/*    text-decoration: none;*/
/*    background-color: #707cca;*/
/*    border-radius: 10px;*/
/*    border-color: white;*/
/*}*/
button {
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: #30363d;
    border-radius: 10px;
    border-color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.items img {
    width: 50px;
    height: 50px;
}

.head-items {
    display: flex;
    align-items: center;
}

.head-items > * {
    margin: 10px;
}

.items > p {
    padding-bottom: 10px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    width: 100%;
    background-color: rgba(221, 238, 244, 0.5);
}

.nav-item {
    margin-right: 30px;
    margin-left: 30px;
}

.nav-item a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: white;
}

.container-middle {
    margin: 0 300px;
    padding: 50px 200px;
    background-color: rgb(240, 240, 240);
    min-height: calc(100vh - 64px);
    /*text-align: center;*/
}

span {
    padding: 0 80px;
}

.container-middle h1 {
    font-size: 2em;
}

ul {
    list-style-type: none; /* Supprime les puces par défaut */
    padding: 0;
}

li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
    font-size: 1.2em;
    line-height: 1.6;
}

li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: #8FA4BB; /* Couleur des puces */
    border-radius: 50%; /* Rond pour les puces */
    transition: background-color 0.3s;
}

li:hover::before {
    background-color: #2c3e50; /* Couleur des puces au survol */
}

.card {
    display: flex;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 100vh;
    width: 100%;
}

.card img {
    width: 40%;
    object-fit: cover;
}

.card-content {
    padding: 20px;
    width: 60%;
}

.card-content h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#equipmentSelect {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-size: 16px;
    transition: 0.5s;
}

#equipmentSelect:focus {
    outline: none;
    box-shadow: 0 0 10px #719ECE;
}

#equipmentSelect option {
    padding: 10px;
}

#logicielSelect {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-size: 16px;
    transition: 0.5s;
}

#logicielSelect:focus {
    outline: none;
    box-shadow: 0 0 10px #719ECE;
}

#logicielSelect option {
    padding: 10px;
}